# Data Homework: Chapter 4

Name:<u> Enter your full name here

Directions: Download the following data from [FRED](https://fred.stlouisfed.org/graph/?g=pUA9) using pandas_datareader.

>Capital Stock (Millions of 2017 U.S. Dollars): RKNANPUSA666NRUG
>
>Population (Thousands): B230RC0A052NBEA
>
>GDP Deflator: GDPDEF
>
>Nominal GDP (Billions of U.S. Dollars): GDP

In [10]:
#plots.py
# if you have not installed pandas-datareader, uncomment the command 
# in the next line. After intallation, you can remove the command
#!pip install pandas-datareader
# pandas_datareader is imported in datlib.FRED
import datetime
from datlib.FRED import *
# for each variable, enter the variable name followed by the variable code. 
# the first variable is completed for you
data_codes  = {"Capital Stock":"RKNANPUSA666NRUG",
               "Population":"B230RC0A052NBEA",
               "GDP Deflator":"GDPDEF",
              "Nominal GDP": "GDP"}
# Select start and end dates
# datetime.datetime(year, month, day)
start = datetime.datetime(1990, 1, 1)
end = datetime.datetime.today()

In [11]:
data = gather_data(data_codes = data_codes, 
                   start = start, 
                   end = end, 
                   freq = "A")
data

            Capital Stock  Population  GDP Deflator  Nominal GDP
DATE
1990-12-31     38223836.0    250181.0      63.67225   5963.14450
1991-12-31     38987080.0    253530.0      65.82175   6158.12925
1992-12-31     39793464.0    256922.0      67.31975   6520.32725
1993-12-31     40663208.0    260282.0      68.91625   6858.55850
1994-12-31     41620812.0    263455.0      70.38700   7287.23650
1995-12-31     42632688.0    266588.0      71.86450   7639.74925
1996-12-31     43758388.0    269714.0      73.17925   8073.12175
1997-12-31     44977188.0    272958.0      74.44175   8577.55250
1998-12-31     46345160.0    276154.0      75.27925   9062.81675
1999-12-31     47827892.0    279328.0      76.36550   9630.66250
2000-12-31     49368264.0    282398.0      78.07325  10252.34650
2001-12-31     50734816.0    285225.0      79.78975  10581.82225
2002-12-31     51925836.0    287955.0      81.05050  10936.41825
2003-12-31     53183996.0    290626.0      82.55100  11458.24575
2004-12-31     54572836.0    293262.0      84.77300  12213.73025
2005-12-31     56084492.0    295993.0      87.41475  13036.63700
2006-12-31     57575292.0    298818.0      90.06375  13814.60900
2007-12-31     58915288.0    301696.0      92.48250  14451.85900
2008-12-31     59981816.0    304543.0      94.28875  14712.84500
2009-12-31     60510764.0    307240.0      95.00275  14448.93250
2010-12-31     61054676.0    309774.0      96.10675  14992.05200
2011-12-31     61672640.0    312010.0      98.11525  15542.58175
2012-12-31     62435632.0    314212.0      99.99875  16197.00725
2013-12-31     63232936.0    316357.0     101.75125  16784.85050
2014-12-31     64124208.0    318631.0     103.63225  17527.25825
2015-12-31     65057808.0    320918.0     104.62250  18238.30100
2016-12-31     65974060.0    323186.0     105.71900  18745.07550
2017-12-31     66942704.0    325220.0     107.70500  19542.97950
2018-12-31     68007352.0    326949.0     110.29175  20611.86100
2019-12-31     69059072.0    328527.0     112.26150  21433.22625

1.	Align the units of GDP, the capital stock, and population by transforming values of GDP and population into millions.

In [1]:
# 1 Billion == 1000 Million
# Transform Billions to Millions
# X Billion == X * 1000 Million
# 100 Billion == 100(1000) Million
# 100 Billion == 100,000 Million

# Nominal GDP in Billions --> Millions
data["Nominal GDP (Mil)"] = data["Nominal GDP"].mul(1000)

NameError: name 'data' is not defined

In [ ]:
# 1 Million == 1000 Thousand
# Transform from Thousand to Million
# X Thousand == (X / 1000) Million
# Example 
# 100 thousand == (100 / 1000) Million
#  100 thousand == 0.1 Million


# Population in Thousands --> Millions
data["Population (Mil)"] = data["Population"].div(1000)

2.	Transform the price level so that the base year is 2017. The index equals 100 in its base year. (Divide every price level value by the value in 2017.)

In [12]:
# using data.loc[ix][col].values makes sure that the value at ix in col is applied for all rows
# not just the row at index value ix

3.	Using the transformed price level, calculate real GDP.

In [21]:
# y = Py / p

                Real GDP  Nominal GDP  GDP Deflator (2017 Dollars)
DATE
1990-12-31  10086.976326   5963.14450                     0.591173
1991-12-31  10076.628331   6158.12925                     0.611130
1992-12-31  10431.884350   6520.32725                     0.625038
1993-12-31  10718.822386   6858.55850                     0.639861
1994-12-31  11150.806360   7287.23650                     0.653517
1995-12-31  11449.870144   7639.74925                     0.667235
1996-12-31  11881.996305   8073.12175                     0.679442
1997-12-31  12410.311311   8577.55250                     0.691163
1998-12-31  12966.530326   9062.81675                     0.698939
1999-12-31  13582.972737   9630.66250                     0.709025
2000-12-31  14143.499595  10252.34650                     0.724880
2001-12-31  14283.979652  10581.82225                     0.740818
2002-12-31  14533.000137  10936.41825                     0.752523
2003-12-31  14949.671821  11458.24575                     0.766455
2004-12-31  15517.674455  12213.73025                     0.787085
2005-12-31  16062.632314  13036.63700                     0.811613
2006-12-31  16520.547527  13814.60900                     0.836208
2007-12-31  16830.616318  14451.85900                     0.858665
2008-12-31  16806.320698  14712.84500                     0.875435
2009-12-31  16380.812923  14448.93250                     0.882064
2010-12-31  16801.306471  14992.05200                     0.892315
2011-12-31  17061.708220  15542.58175                     0.910963
2012-12-31  17445.204724  16197.00725                     0.928450
2013-12-31  17766.979011  16784.85050                     0.944722
2014-12-31  18216.079935  17527.25825                     0.962186
2015-12-31  18775.657332  18238.30100                     0.971380
2016-12-31  19097.213904  18745.07550                     0.981561
2017-12-31  19542.979500  19542.97950                     1.000000
2018-12-31  20128.436524  20611.86100                     1.024017
2019-12-31  20563.288690  21433.22625                     1.042305

In [22]:
# y = Py / P
# y = Real Income --> Real GDP
# Py = Nominal Income --> Nominal GDP
# P = Price level --> GDP Deflator

            Real GDP (Mil)  Nominal GDP (Mil)  GDP Deflator (2017 Dollars)
DATE
1990-12-31    1.008698e+07         5963144.50                     0.591173
1991-12-31    1.007663e+07         6158129.25                     0.611130
1992-12-31    1.043188e+07         6520327.25                     0.625038
1993-12-31    1.071882e+07         6858558.50                     0.639861
1994-12-31    1.115081e+07         7287236.50                     0.653517
1995-12-31    1.144987e+07         7639749.25                     0.667235
1996-12-31    1.188200e+07         8073121.75                     0.679442
1997-12-31    1.241031e+07         8577552.50                     0.691163
1998-12-31    1.296653e+07         9062816.75                     0.698939
1999-12-31    1.358297e+07         9630662.50                     0.709025
2000-12-31    1.414350e+07        10252346.50                     0.724880
2001-12-31    1.428398e+07        10581822.25                     0.740818
2002-12-31    1.453300e+07        10936418.25                     0.752523
2003-12-31    1.494967e+07        11458245.75                     0.766455
2004-12-31    1.551767e+07        12213730.25                     0.787085
2005-12-31    1.606263e+07        13036637.00                     0.811613
2006-12-31    1.652055e+07        13814609.00                     0.836208
2007-12-31    1.683062e+07        14451859.00                     0.858665
2008-12-31    1.680632e+07        14712845.00                     0.875435
2009-12-31    1.638081e+07        14448932.50                     0.882064
2010-12-31    1.680131e+07        14992052.00                     0.892315
2011-12-31    1.706171e+07        15542581.75                     0.910963
2012-12-31    1.744520e+07        16197007.25                     0.928450
2013-12-31    1.776698e+07        16784850.50                     0.944722
2014-12-31    1.821608e+07        17527258.25                     0.962186
2015-12-31    1.877566e+07        18238301.00                     0.971380
2016-12-31    1.909721e+07        18745075.50                     0.981561
2017-12-31    1.954298e+07        19542979.50                     1.000000
2018-12-31    2.012844e+07        20611861.00                     1.024017
2019-12-31    2.056329e+07        21433226.25                     1.042305

4.	Using the population data and real GDP, calculate real GDP per capita.

In [1]:
# make sure your units are the same -- Use Milliions

NameError: name 'data' is not defined

5.	Using the population data and the capital stock, calculate the effective capital stock. Assume a value of α = .5

In [ ]:
# k = K / L -- k = capital stock / population
#K: capital stock
#L: population

6.	Using real GDP per capita and the effective capital stock, calculate the technical efficiency of capital (Solow’s A).

In [ ]:
# y = Ak^a
# A = y / k^a
# a = 0.5
# part of your answer will include this: 
# data["Effective Capital"].pow(a)

7.	Plot each variable individually.

In [ ]:
# from datlib.plots import *
# plt.rcParams.update({"font.size":32})
# for key in data:
#     plot_lines(data[[key]])

8.	Plot Real GDP per capita and the Solow Residual on the same plot using a secondary vertical axis for one of the values. Explain why these values follow a similar trajectory.