# Enter title after a hashtag

## Practice Notebook

James Caton

### Useful commands: alt-enter creates new cell

In [2]:
#plots.py
# if you have not installed pandas-datareader, uncomment the command 
# in the next line. After intallation, you can remove the command
#!pip install pandas-datareader
# pandas_datareader is imported in datlib.FRED

# for good measure, you may choose to import pandas and matplotlib with the following commands
# import matplotlib.pyplot as plt
# import pandas as pd

# import the library to work with dates and times
import datetime
# import FRED to import data from online 
from datlib.FRED import *
#Import monetary base
data_codes  = {"Base: Total": "BOGMBASEW",
               "Base: Currency in Circulation": "MBCURRCIRW",
               "Excess Reserves": "EXCSRESNW"}
# Select start and end dates
    #datetime.datetime(year, month, day)
start = datetime.datetime(1975, 1, 1)
end = datetime.datetime.today()

In [3]:
data_codes

{'Base: Total': 'BOGMBASEW',
 'Base: Currency in Circulation': 'MBCURRCIRW',
 'Excess Reserves': 'EXCSRESNW'}

In [3]:
# freq refers to data frequency. Choose "D", "W", "M", "Q", "A"
#                               day, week, month, quarter, annual
# a number may also be place in front of a letter. "2D" indicates
#       alternating days
data = gather_data(data_codes = data_codes, 
                   start = start, 
                   end = end, 
                   freq = "M")

In [5]:
data

            Base: Total  Base: Currency in Circulation  Excess Reserves
DATE
1975-01-31    107789.25                       77860.50              NaN
1975-02-28    105592.00                       77009.50              NaN
1975-03-31    105505.25                       77693.25              NaN
1975-04-30    106762.00                       78466.60              NaN
1975-05-31    106920.75                       79176.50              NaN
1975-06-30    108131.25                       80603.00              NaN
1975-07-31    109537.80                       81756.00              NaN
1975-08-31    109065.25                       81911.25              NaN
1975-09-30    109155.25                       82097.75              NaN
1975-10-31    109605.80                       82204.00              NaN
1975-11-30    110874.75                       83648.00              NaN
1975-12-31    113010.80                       85783.60              NaN
1976-01-31    112082.25                       84889.25              NaN
1976-02-29    110543.50                       83992.00              NaN
1976-03-31    111178.20                       84855.20              NaN
1976-04-30    113022.00                       86518.75              NaN
1976-05-31    113560.75                       87218.75              NaN
1976-06-30    114324.60                       88357.60              NaN
1976-07-31    115576.00                       89357.25              NaN
1976-08-31    115607.50                       89490.75              NaN
1976-09-30    115502.80                       89688.80              NaN
1976-10-31    116476.25                       90198.75              NaN
1976-11-30    117918.50                       91459.50              NaN
1976-12-31    120123.00                       93463.40              NaN
1977-01-31    120140.00                       92862.25              NaN
1977-02-28    117830.25                       91623.25              NaN
1977-03-31    118546.20                       92603.60              NaN
1977-04-30    120546.50                       94215.50              NaN
1977-05-31    120955.00                       94754.00              NaN
1977-06-30    121633.20                       95832.80              NaN
...                 ...                            ...              ...
2018-04-30   3741948.50                     1639951.00       1976985.50
2018-05-31   3671684.80                     1651048.80       1892046.00
2018-06-30   3657684.50                     1661859.75       1870897.75
2018-07-31   3617603.00                     1668364.50       1824435.00
2018-08-31   3588211.20                     1671521.80       1791310.20
2018-09-30   3567610.50                     1685515.00       1755852.00
2018-10-31   3521056.40                     1690661.60       1706135.20
2018-11-30   3478664.00                     1700738.00       1651829.00
2018-12-31   3411575.75                     1707921.50       1580691.50
2019-01-31   3348160.20                     1709064.80       1507524.00
2019-02-28   3350748.50                     1707784.50       1518295.00
2019-03-31   3388656.50                     1719262.50       1540933.50
2019-04-30   3312633.50                     1726409.00       1457280.00
2019-05-31   3235396.80                     1732333.20       1368538.40
2019-06-30   3282619.00                     1738510.50       1410368.25
2019-07-31   3255978.40                     1746192.00       1373614.20
2019-08-31   3275209.00                     1749115.50       1391354.50
2019-09-30   3197323.50                     1762662.00       1300206.50
2019-10-31   3251883.40                     1770106.00       1346916.00
2019-11-30   3311717.00                     1785498.00       1386355.25
2019-12-31   3415126.50                     1794433.75       1482130.25
2020-01-31   3440867.80                     1798307.40       1496750.40
2020-02-29   3446282.50                     1795990.00       1513219.50
2020-03-31   3707586.50                     1826102.00       1740628.00
2020-04-30   4783890.20                     1888701.80       2895189.20
2020-05-31   5139460.00                     1928941.25       3210518.75
2020-06-30   5059368.25                     1955540.75       3103827.75
2020-07-31   4725875.20                     1977793.40       2748082.00
2020-08-31   4790990.00                     2004558.50       2786432.00
2020-09-30   4876690.00                     2022000.00       2854690.00

[549 rows x 3 columns]

In [8]:
# data[year] -- year needs to be in quotations (string)
data["1980"]

            Base: Total  Base: Currency in Circulation  Excess Reserves
DATE
1980-01-31    156489.00                      123498.80              NaN
1980-02-29    153873.50                      121747.50              NaN
1980-03-31    154752.00                      122504.00              NaN
1980-04-30    157612.40                      123732.80              NaN
1980-05-31    157798.50                      124825.50              NaN
1980-06-30    158741.50                      126401.25              NaN
1980-07-31    160018.40                      128170.80              NaN
1980-08-31    158215.75                      129155.50              NaN
1980-09-30    159316.00                      130118.25              NaN
1980-10-31    160662.20                      130620.80              NaN
1980-11-30    162022.50                      132799.25              NaN
1980-12-31    163235.80                      135842.60              NaN

In [10]:
data["1980":"2000"]

            Base: Total  Base: Currency in Circulation  Excess Reserves
DATE
1980-01-31    156489.00                      123498.80              NaN
1980-02-29    153873.50                      121747.50              NaN
1980-03-31    154752.00                      122504.00              NaN
1980-04-30    157612.40                      123732.80              NaN
1980-05-31    157798.50                      124825.50              NaN
1980-06-30    158741.50                      126401.25              NaN
1980-07-31    160018.40                      128170.80              NaN
1980-08-31    158215.75                      129155.50              NaN
1980-09-30    159316.00                      130118.25              NaN
1980-10-31    160662.20                      130620.80              NaN
1980-11-30    162022.50                      132799.25              NaN
1980-12-31    163235.80                      135842.60              NaN
1981-01-31    161391.00                      134114.50              NaN
1981-02-28    158869.25                      132220.50              NaN
1981-03-31    159463.25                      132837.00              NaN
1981-04-30    162099.60                      134753.80              NaN
1981-05-31    163215.50                      136084.00              NaN
1981-06-30    163621.25                      137167.25              NaN
1981-07-31    165880.40                      138664.60              NaN
1981-08-31    166140.75                      139140.75              NaN
1981-09-30    164811.20                      139052.80              NaN
1981-10-31    164989.00                      139200.00              NaN
1981-11-30    166689.25                      140783.00              NaN
1981-12-31    170355.40                      144110.60              NaN
1982-01-31    170266.75                      143371.25              NaN
1982-02-28    167535.25                      141370.00              NaN
1982-03-31    166311.00                      141694.60              NaN
1982-04-30    168666.75                      143933.00              NaN
1982-05-31    169805.00                      145369.00              NaN
1982-06-30    171589.60                      147335.80              NaN
...                 ...                            ...              ...
1998-07-31    501655.00                      485105.60          1439.40
1998-08-31    504320.50                      487758.00          1456.00
1998-09-30    508504.80                      492224.80          1732.40
1998-10-31    512403.50                      496341.75          1551.25
1998-11-30    517339.25                      501630.75          1628.00
1998-12-31    525560.20                      509643.20          1512.60
1999-01-31    528587.50                      511037.50          1554.50
1999-02-28    525520.50                      509743.50          1186.00
1999-03-31    530882.80                      514672.60          1267.40
1999-04-30    535030.00                      519176.75          1150.75
1999-05-31    539890.25                      522894.75          1182.50
1999-06-30    543917.00                      528054.60          1318.00
1999-07-31    548655.00                      533772.50           944.50
1999-08-31    550507.00                      535749.00          1141.50
1999-09-30    556440.00                      541560.40          1212.20
1999-10-31    563869.75                      550179.50          1174.00
1999-11-30    579169.75                      565864.25          1278.25
1999-12-31    607840.80                      595231.00          1206.40
2000-01-31    607904.50                      594679.00          2246.00
2000-02-29    578238.00                      566144.00          1159.50
2000-03-31    577082.60                      563820.60          1136.20
2000-04-30    578438.75                      564597.25          1223.50
2000-05-31    580386.00                      565829.60           974.20
2000-06-30    581639.00                      568333.50          1107.00
2000-07-31    584574.00                      571216.00          1165.00
2000-08-31    583349.60                      569698.40          1053.40
2000-09-30    583864.25                      570352.00          1131.50
2000-10-31    585020.50                      571335.75          1153.00
2000-11-30    589309.00                      574994.20          1203.40
2000-12-31    597115.50                      583118.00          1293.50

[252 rows x 3 columns]